
/* Main Theme */
.background-main, .sidebar, .button-sidebar {
    -fx-background-color: #4747D1;
}

.border-main {
    -fx-border-color: #4747D1;
}

.background-white, .button-alt, .search-bar, .pane, .scroll-pane, .tile-pane, .search-bar-text {
    -fx-background-color: #fff;
}

.text-main, .header-main {
    -fx-fill: #4747D1;
}

.text-white, .tile-header, .tile-subheader, .textbox {
    -fx-fill: #fff;
}

.button-text-main {
    -fx-text-fill: #4747D1;
}

.button-text-white, .button-sidebar, .button-primary {
    -fx-text-fill: #fff;
}

.text-light {
    -fx-font-family: "Segoe UI Light"
}

.text-semilight, .header, .header-white, .edit-header, .subheader, .button-sidebar, .search-bar-text {
    -fx-font-family: "Segoe UI Semilight";
}

.text-bold, .tile-header {
    -fx-font-family: "Segoe UI Semibold";
}

/* Buttons */

.button-props, .button-primary, .button-alt, .tile, .button-sidebar {
    -fx-cursor: "HAND";
    -fx-background-insets: 0;
    -fx-font-size: 15;
}

.button-primary {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.button-primary:hover {
    -fx-background-color: #355ece;
}

.button-alt:hover {
    -fx-border-color: #355ece;
    -fx-text-fill: #355ece;
}

.button-sidebar {
    -fx-font-size: 20;
    -fx-alignment: "BASELINE_LEFT";
    -fx-graphic-text-gap: 20;
    -fx-padding: 0 0 0 20;
}

/* Headings and Panes */

.header-lg {
    -fx-font-size: 60;
}

.header-md, .header-main {
    -fx-font-size: 50;
}

.header-sm {
    -fx-font-size: 40;
}

.subheader-lg {
    -fx-font-size: 35;
}

.subheader-sm, .tile-subheader {
     -fx-font-size : 25;
}

.text-lg, .tile-header {
    -fx-font-size: 30;
}

.text-sm, .search-bar-text, .textbox {
    -fx-font-size : 15;
}

/* Tiles */

.tile {
    -fx-pref-width: 185;
    -fx-pref-height: 185;
}

.tile:hover, .tile:pressed {
    -fx-effect: dropshadow( three-pass-box , #000000 ,10,0,0, 0 );
}

.edit-button {
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-max-width: 30;
    -fx-max-height: 30;
    -fx-background-color: 'transparent';
}

/* Scroll Pane Adjust */
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

/* Semester Selection */

.background-sem-sel, .button-primary-sem-sel {
    -fx-background-color: #957FEF;
}

.border-sem-sel, .button-alt-sem-sel {
    -fx-border-color: #957FEF;
}

.search-bar {
    -fx-background-radius: 5;
}

.button-alt-sem-sel {
    -fx-text-fill: #957FEF;
}


/* Semester */

.background-semester {
    -fx-background-color: #B43E8F;
}

.border-semester {
    -fx-border-color: #B43E8F;
}

.button-alt-semester {
    -fx-text-fill: #B43E8F;
}

/* Tables */

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size: 20;
    -fx-background-color: #2d75e8;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.table-view .cell {
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color: rgb(127, 172, 243);
}
.table-row-cell:selected .text {
    -fx-fill: white;
}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button,
.table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: derive(#2d75e8, 80%);
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#2d75e8, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}
